<!-- search -->
<div class="container _3cB">
    <div class="row-fluid">

        <div class="span12 _5sB" align="center">
            <div class="_5sBi">
                <a href="javascript:;" ng-click="toggleStatistic();" data-title="{{captions.statistic}}"><i class="fa fa-pie-chart "></i></a>
                <a href="javascript:;" onClick="javascript:location.reload();" data-title="{{captions.refresh}}"><i class="fa fa-refresh"></i></a>
                <a href="javascript:;" ng-click="randomEntry();" data-title="{{captions.showRandomText}}"><i class="fa fa-rocket"></i></a>
            </div>
            <h4>{{captions.search}}:</h4>
            <form ng-submit="searchKeyWordForm(searchInputx)" id="searchForm">
                <input type="text" class="span5" name="search" ng-model="searchInputx" placeholder="{{captions.searchPlaceholder}}..." />
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>

    </div>
</div>

<!-- container -->
<div class="container-fluid _3mB" style="margin-top: 70px;">
    <div class="container _3mB-i _5aRx" style="margin-bottom:30px">

        <div class="row-fluid">
            <div class="span4 _5aRxb">
                <div class="_5aRxb-icon color-1"><i class="fa fa-star"></i></div>
                <h4>{{captions.favEntries | ucfirst}}</h4>
                <table class="table table-bordered table-custom-1">
                    <tbody>
                        <tr ng-repeat="keyword in keywords.Entries | orderBy: '-stars' | limitTo: 20">
                            <td width="80%"><a href="#/list/{{keyword.keyword}}">{{keyword.keyword}}</a></td>
                            <td width="10%"><span>{{keyword.stars}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="span4 _5aRxb">
                <div class="_5aRxb-icon color-2"><i class="fa fa-line-chart"></i></div>
                <h4>{{captions.recentEntries | ucfirst}}</h4>
                <table class="table table-bordered td-with-date table-custom-1">
                    <tbody>
                        <tr ng-repeat="keyword in keywords.Entries | orderBy: '-id' | limitTo: 20">
                            <td><a href="#/list/{{keyword.keyword}}">{{keyword.keyword}}</a></td>
                            <td width="22%"><span>{{keyword.timeCreated | date:'dd.MM.yyyy'}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="span4 _5aRxb">
                <div class="_5aRxb-icon color-3"><i class="fa fa-paper-plane"></i></div>
                <h4>{{captions.lastNews | ucfirst}}</h4>
                <table class="table table-bordered td-with-date table-custom-1">
                    <tbody>
                        <tr ng-repeat="news in lastNews | orderBy: '-id' | limitTo: 20">
                            <td><a href="#/list/{{news.keyword}}&infoNodeId={{news.id}}">{{news.keyword}}</a></td>
                            <td width="22%" style="min-width: 115px;"><span>{{news.lastModifiedTime | date:'HH:mm:ss dd.MM.yyyy'}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <p align="center" style="font-size:12px;color:#777"><b>{{captions.smallStatisticLabel}}</b>: {{smallStatistic[0] + ' ' + captions.keywords + ', ' + smallStatistic[1] + ' ' + captions.infoNodes + ', ' + smallStatistic[2] + ' ' + captions.softLinks}}</p>
        <hr>
        
        <div class="statistic" style="display:none;"><ng-include src="'templates/statistic_page.html'"></ng-include></div>
    </div>
</div>