<!-- statistic -->
<div id="statistic" class="row-fluid" style="">
    <div class="span5 _5aRxb">
        <div class="_5aRxb-icon color-4"><i class="fa fa-users"></i></div>
        <h4>{{captions.users}}</h4>
        <table class="table table-bordered ns-hva table-custom-1">
            <tbody>
                <tr ng-repeat="sUser in sUsers.Entries | limitTo: 20">
                    <td width="80%"><a>{{sUser.author}}</a></td>
                    <td width="10%"><span>{{sUser.count}}</span></td>
                </tr>
            </tbody>						
        </table>
    </div>
    <div class="span2 _5aRxb">
        <h4 style="margin-bottom:10px;">{{captions.statistic}}</h4>
        <i class="fa fa-pie-chart"></i>
    </div>
    <div class="span5 _5aRxb">
        <div class="_5aRxb-icon color-5"><i class="fa fa-sliders"></i></div>
        <h4>{{captions.categories}}</h4>
        <table class="table table-bordered ns-hva table-custom-1">
            <tbody>
                <tr ng-repeat="sCategory in sCategories.Entries | limitTo: 20">
                    <td width="80%"><a>{{sCategory.category}}</a></td>
                    <td width="10%"><span>{{sCategory.count}}</span></td>
                </tr>
            </tbody>						
        </table>
    </div>
</div>