<div id="header">
    <div class="container-fluid header-fixed">
        <div class="row">
            <div class="col-xs-3 header-logo _splr30">
                <h3><a href="javascript:location.reload();"><i class="icon-jfi-paperclip"></i> %captions-Flyer%</a></h3>
            </div>
            <div class="col-xs-9 header-content bgcolor-2">
                <ul class="view-switcher list-inline pull-left _splr30">
                    <li><a class="list-view" title="%captions-listView%"><i class="icon-jfi-view-list"></i></a></li>
                    <li><a class="grid-view" title="%captions-gridView%"><i class="icon-jfi-view-grid"></i></a></li>
                </ul>
                <ul class="items-manipulation list-inline pull-left _splr30" style="display:none; padding-left: 0px; position: absolute; left: 100px; background: rgba(247, 248, 250, 0.9);">
                    <li><strong><i class="num"></i> %captions-filesSelected%:</strong></li>
                    <!--<li><a class="all-archive-action"><i class="icon-jfi-zip"></i> Archive</a></li>-->
                    <li><a class="all-lock-action"><i class="icon-jfi-lock"></i> %captions-lock%</a></li>
                    <li><a class="all-trash-action"><i class="icon-jfi-trash"></i> %captions-remove%</a></li>
                </ul>
                <ul class="filter-list-mode list-inline pull-right _splr30">
                    <li><strong class="text-capitalize">%captions-sortBy%:</strong></li>
                    <li><a data-sort="name" class="selected">%captions-tName%</a></li>
                    <li><a data-sort="size">%captions-tSize%</a></li>
                    <li><a data-sort="date">%captions-tDate%</a></li>
                    <li><a data-sort="user">%captions-tUser%</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="content" class="container-fluid">
    <div class="row">

        <div class="col-xs-3 _splr30 bgcolor-2 _sptG left-side">
            <div class="col-xs-3 left-side-bg bgcolor-2"></div>
            <div class="left-side-fixed">
                <div>
                    <input type="file" name="files[]" id="filer1" multiple="multiple" />
                    <div id="filerComment">
                        <textarea class="form-control" name="Comment" placeholder="%captions-commentLeave%"></textarea>
                    </div>
                </div>
                
                <!--
                *** Filter Hide :( ***

                <h4 class="section-title">%captions-filter%</h4>
                <div>
                    <ul class="filter-list-type">
                        <li class="selected"><a data-type="*"><i class="icon-jfi-infinite"></i> All</a></li>
                        <li><a data-type="image"><i class="icon-jfi-file-image"></i> Images</a></li>
                        <li><a data-type="audio"><i class="icon-jfi-file-audio"></i> Audios</a></li>
                        <li><a data-type="video"><i class="icon-jfi-file-video"></i> Videos</a></li>
                        <li><a data-type="text"><i class="icon-jfi-file-text"></i> Documens</a></li>
                    </ul>
                </div>
                -->
            </div>
        </div>

        <div class="col-xs-9 _splr30 _sptG right-side">
            <div></div>
        </div>
    </div>
</div>
<div class="preloader"><span><img src="images/icons/loading.gif"></span></div>