@font-face {
    font-family: 'Lato';
    src: url('font-lato/Lato-Regular.eot');
    src: url('font-lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('font-lato/Lato-Regular.woff') format('woff'),
         url('font-lato/Lato-Regular.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body{
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
p {
    font-size: 14px;
    line-height: 20px;
}