<input type="file" name="files[]" id="filer1" multiple="multiple" />
<div class="table-container files-items-table">
    <div class="table-heading filter-list-mode">
        <div class="table-col" style="width:1px"><input type="checkbox" class="file-item-check" id="files-item-all" disabled><label for="files-item-all"></label></div>
        <div class="table-col" style="width: 40%;"><a data-sort="name">Name</a></div>
        <div class="table-col" style="width: 15%;"><a data-sort="size">Size</a></div>
        <div class="table-col" style="width: 25%;"><a data-sort="date">Date</a></div>
        <div class="table-col" style="width: 20%;"><a data-sort="user">User</a></div>
        <div class="table-col" style="width:1px; padding:0"></div>
    </div>
    <div class="table-body files-items-list"></div>
</div>
<ul class="items-manipulation" style="display:none">
    <li><strong><i class="num"></i> Files selected:</strong></li>
    <!--<li><a class="all-archive-action"><i class="icon-jfi-zip"></i> Archive</a></li>-->
    <li><a class="all-lock-action"><i class="icon-jfi-lock"></i> Lock</a></li>
    <li><a class="all-trash-action"><i class="icon-jfi-trash"></i> Trash</a></li>
</ul>